<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952830457340-e52t6dbsaoac8bi8ql0c7seq62aa6vrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952830457340-e52t6dbsaoac8bi8ql0c7seq62aa6vrl</string>
	<key>API_KEY</key>
	<string>AIzaSyA2HPqQlWO_LjJJY67fBvYMNCeNssAuvyM</string>
	<key>GCM_SENDER_ID</key>
	<string>952830457340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hafied.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>login-ec745</string>
	<key>STORAGE_BUCKET</key>
	<string>login-ec745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952830457340:ios:d17dacf24ee7266aeeae79</string>
</dict>
</plist>